.site-form {
          display: flex;
          justify-content: center;
          margin-top: 32px;
          padding: 24px 8px;
          border: 1px solid #ddd;
}
.site-nav {
          display:flex;
          width: 100%;
          height: 50px;
          background: #ddd;
          justify-content: flex-end;
          align-items: center;
}
.site-nav p {
          margin-right: 14px;
      }
.site-nav a {
          margin-right: 14px;
          background: #000;
          color: #fff;
          padding: 6px;
}
table {
          width: 100%;
          margin-top: 32px;
}
table thead th {
    background-color: #111;
    border: 1px solid #111;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 10px;
    text-align: left;
}
table tbody td {
    border: 1px solid #ddd;
    color: #000;
    padding: 10px;
    font-size: 13px;
    Line-height: 18px;
    font-weight: 600;
}

.actions-area {
    display: flex;
    flex-direction: row;
}
.actions-area form {
    margin-right: 14px;
}